<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Website - About</title>
        <link rel="stylesheet" href="/static/css/app.css">
    </head>
    <body>
        <h1>I'm Roneil Barrett</h1>
        <p>
            An <em>avid</em> learner and Web Developer based in Kingston, Jamaica. 
            I’m also currently a final year student pursuing a 
            BSc. Information Technology at the University of the West Indies. 
        </p>
        <p id='goal'><b>I desire to be unrelenting in the pursuit of self-improvement and mastery.</b></p>
    </body>
</html>