<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About Roneil Barrett</title>
        <link rel="stylesheet" href="/static/css/app.css">
    </head>
    <body>
        <h1>Roneil Barrett,</h1>
        <p>
            An avid learner, aspiring Web Developer and proud final year student, pursuing a 
            BSc. Information Technology at the University of the West Indies.
        </p>
        <p id='goal'>
            <b>I desire to be unrelenting in the pursuit of <em>mastery</em> through <em>consistent self-improvement!</em></b>
        </p> 
        </body>
</html>